* {
	box-sizing: border-box;
}

body {
	background: #161719;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

/* Battery Status */
#battery {
	position: absolute;
	top: 15px;
	right: 15px;
}
#battery .percent {
	float: left;
	margin-right: 5px;
}
#battery .glyph {
	border: 1px solid black;
	width: 30px;
	height: 15px;
	padding: 1px;
	float: right;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#battery .glyph,
#battery .fill {
	display: block;
}
#battery .glyph:after {
	content: ' ';
	display: block;
	width: 2px;
	height: 5px;
	position: relative;
	left: 29px;
	top: -8px;

	-webkit-border-top-right-radius: 1px;
	-webkit-border-bottom-right-radius: 1px;
	-moz-border-radius-topright: 1px;
	-moz-border-radius-bottomright: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}
#battery .fill { height: 100%; }

#battery .glyph:after,
#battery .fill { background-color: black; }

#battery.good .percent { color: rgb(77,218,22); }
#battery.good .glyph { border-color: rgb(77,218,22); }
#battery.good .glyph:after,
#battery.good .fill { background-color: rgb(77,218,22); }

#battery.bad .percent { color: rgb(217,22,22); }
#battery.bad .glyph { border-color: rgb(217,22,22); }
#battery.bad .glyph:after,
#battery.bad .fill { background-color: rgb(217,22,22); }


/* Altimeter */
#altimeter {
	border-top: 1px solid rgb(77,218,22);
	border-bottom: 1px solid rgb(77,218,22);
	border-left: 1px solid rgb(77,218,22);
	overflow: hidden;
	position: absolute;
	top: 15%;
	right: 5%;
	width: 50px;
	height: 300px;
	padding-left: 10px;
}

#altimeter .container {
	height: 100%;
	position: relative;
	top: -3615px;

	transition: top 250ms;
    -o-transition: top 250ms;
    -ms-transition: top 250ms;
    -moz-transition: top 250ms;
    -webkit-transition: top 250ms;
}

#altimeter .glyph {
	background: rgb(77,218,22);
	height: 10px;
	width: 10px;
	position: absolute;
	top: 145px;
	left: 0;
}

#altimeter .container div {
	border-top: 1px solid rgb(77,218,22);
	border-left: 1px solid rgb(77,218,22);
	height: 15px;
	width: 10px;
	position: relative;
}

#altimeter .container label {
	color: rgb(77,218,22);
	position: absolute;
	top: 6px;
	left: 12px;
}
